.container {
  padding: 0 3rem;
  position: relative;
  width: 70%;
}

.input {
  /* background-color: rgba(230, 230, 230, 0.3); */
  height: 3rem; /* 32px */
  padding: 0.25rem 1rem; /* 4px top/bottom, 16px left/right */
  border-radius: 50px; /* rounded-full */
  font-size: 0.875rem; /* 14px */
  width: 100%;
  border: 1px #ccc solid;
  outline-color: var(--secondaryColor);
}

.icon {
  position: absolute;
  right: 3.75rem; /* 12px */
  top: 50%;
  transform: translateY(-50%);
  color: rgba(107, 114, 128, 0.5); /* gray-500/50 */
  padding-top: 0.2rem; /* ajuste de alinhamento */
}
