.container {
    padding: 0 3rem;
  position: relative;
  width: 100%;
}

.input {
  background-color: rgba(100, 116, 139, 0.1); /* slate-300/30 */
  height: 3rem; /* 32px */
  padding: 0.25rem 1rem; /* 4px top/bottom, 16px left/right */
  border-radius: 3px; /* rounded-full */
  font-size: 0.875rem; /* 14px */
  width: 100%;
  outline-color: var(
    --secondaryColor
  ); /* primaryColor, ajuste para a cor desejada */
}

.icon {
  position: absolute;
  right: 3.75rem; /* 12px */
  top: 50%;
  transform: translateY(-50%);
  color: rgba(107, 114, 128, 0.5); /* gray-500/50 */
  padding-top: 0.125rem; /* ajuste de alinhamento */
}
