.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: white;
}

.companyName {
  font-size: 1rem; /* 16px */
  width: 40%;
  color: #333; /* Ajuste para cor de texto desejada */
}

.logo {
  width: 10rem;
  height: auto;
}

.searchCartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; /* Ajuste conforme necessário */
  justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.login, .support {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    width: 10rem;
    align-items: center;
    justify-content: flex-end;
    background: none;
}

.login:hover, .support:hover {
    color: var(--primaryColor);
    background: none;
}

.person {
    width: 32px;
    margin:0 2rem 0  0.5rem;
    height: auto;
}