@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FontRegular";
  src: url("../src/fonts/Krub-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.87);
}

@font-face {
  font-family: "FontSemiBold";
  src: url("../src/fonts/Krub-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.87);
}

/* Variáveis Globais */
:root {
  /* Tema Claro */
  --primaryColor:  rgb(254, 147, 39);
  --secondaryColor: #213547;
  --backgroundColor: #ffffff;
  --textColor: rgba(33, 53, 71, 0.87);
  --borderColor: #e0e0e0;
  --buttonBackground: #f9f9f9;
  --hoverColor: #213547;

  /* Tema Escuro */
  --darkPrimaryColor: #ffffff;
  --darkSecondaryColor: #ffba08;
  --darkBackgroundColor: #121212;
  --darkTextColor: rgba(255, 255, 255, 0.87);
  --darkBorderColor: #333333;
  --darkButtonBackground: #1e1e1e;
  --darkHoverColor: #ff7c0a;

  /* Fontes e sombras */
  --fontFamily: "FontRegular", sans-serif;
  --fontFamilySemiBold: "FontSemiBold", sans-serif;
  --boxShadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Definições Gerais */
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily);
  background-color: var(--backgroundColor);
  color: var(--textColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

button {
  background-color: var(--buttonBackground);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hoverColor);
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}

a:hover {
  color: var(--secondaryColor);
}

/* Tema Escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor: var(--darkPrimaryColor);
    --secondaryColor: var(--darkSecondaryColor);
    --backgroundColor: var(--darkBackgroundColor);
    --textColor: var(--darkTextColor);
    --borderColor: var(--darkBorderColor);
    --buttonBackground: var(--darkButtonBackground);
    --hoverColor: var(--darkHoverColor);
  }
}

/* Fontes Personalizadas (comente ou descomente conforme necessário) */
/*
@font-face {
  font-family: "FontRegular";
  src: url("../src/fonts/outline_pixel-7_solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*/
